
<div class="jumbtron">
  <h1 class="display-4 text-center">Welcome Transport Order System</h1>
</div>
<hr/>
<div class="row">
  <div class="col-md-5 ">
    <p>Sign in with your Admin Account</p>
    <button mat-raised-button type="submit" class="btn btn-success pull-right " (click)="navigateToLogin()">Admin Login</button>
  </div>
  <div class="col-md-5">
    <p>Place your transport order here</p>
    <button mat-raised-button type="submit" class="btn btn-success pull-right " (click)="navigateToOrder()">Add Order</button>

  </div>
</div>

